# Auto detect text files and perform LF normalization
* text=auto
Assets/Jose[[:space:]]Arriagada/models/Aruch/* filter=lfs diff=lfs merge=lfs -text
Assets/Jose[[:space:]]Arriagada/models/small3/* filter=lfs diff=lfs merge=lfs -text
